<div class="main-nav">
    <a href="/dashboard" class="nav-btn <% if (activeSection === 'dashboard') { %>active<% } %>">Dashboard</a>
    <a href="/round-robins/create" class="nav-btn <% if (activeSection === 'create-rr') { %>active<% } %>">Create RR</a>
    <a href="/round-robins" class="nav-btn <% if (activeSection === 'manage-rr') { %>active<% } %>">Manage RRs</a>
    <a href="/participants" class="nav-btn <% if (activeSection === 'participants') { %>active<% } %>">Participants</a>
</div>